/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 50;
    padding: 50;
    box-sizing: border-box;
    font-weight: bold;
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #ffffff, #FFD700);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    width: 100%;
    z-index: 1000;
}

.logo-img {
    width: 80px;
    height: 100%;

}

/* Navegación */
.nav-menu {
    display: flex;
    gap: 20px;

    
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #FFD700;
    color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}
.image-class {
    object-fit: cover;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    height: 8rem; /* Ajusta la altura */
}
